---
layout: default
---
<article class="post">
  <header class="post__header">
    <h1 class="post__title">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time class="postdate" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date: '%B %-d, %Y' }}">{{ page.date | date: '%B %-d, %Y' }}</time>
      {%- if page.tags and page.tags.size > 0 %}
      <span class="post__tags">
        {%- for tag in page.tags -%}
        <a class="post-card__tag" href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a>
        {%- endfor -%}
      </span>
      {%- endif %}
    </p>
  </header>
  <div class="post__content">
    {{ content }}
  </div>
  <footer class="post__footer">
    <a class="post__back" href="{{ '/' | relative_url }}">&larr; Back to all posts</a>
  </footer>
</article>
