---
layout: default
---
<article>
    <div class="postheader">
        <div class="posttitle">
            {{ page.title }}
        </div>
        <div class="postmetadata">
            <span>Written <time class="postdate" datetime="{{ page.date | date_to_xmlschema }}" pubdate title="on {{ page.date | date: '%B %-d, %Y' }}">on {{ page.date | date: '%B %-d, %Y' }}</time></span>
            {%- if page.tags and page.tags.size > 0 %}
            <span class="posttags">
                &middot;
                {%- for tag in page.tags -%}
                <a class="posttag" href="{{ '/tags/' | append: tag | relative_url }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
                {%- endfor -%}
            </span>
            {%- endif %}
        </div>
    </div>
    <div class="postcontent">
        {{ content }}
    </div>
</article>